.main-wrapper {
    min-height: 570px;
}

.contentmain{
    height: 100vh;
    margin-left: 200px;
}

.spacertop{
    margin-top: 85px;
}


@media only screen and (max-width: 765px) {
    body {
        background-color: lightblue;
    }

    .contentmain{
        height: 100vh;
        margin-left: 0px;
    }
}