.sidebar {
    margin: 0;
    padding: 0;
    background-color: #eeeeee !important;
   // position: fixed;
    height: 100vh;
    overflow: auto;
    padding-top: 75px;

    width: 200px;
    overflow: auto;
    padding-top: 75px;
    position: fixed;
    max-width: 200px;
    width: 100%;

    .sidebarheader{
        a.brandlogo{
            img{
                width: 100%;
            }
        }

        a:hover{
            background-color: transparent !important;
        }
    }

    a{
        display: block;
        color: black;
        padding: 16px;
        text-decoration: none;
    }

    a.active {
        background-color: #04AA6D;
        color: white;
    }

    a:hover:not(.active) {
        background-color: #555;
        color: white;
    }
}
  